################################################################################
# This .gitignore file was automatically created by Microsoft(R) Visual Studio.
################################################################################

/data/.cache_textures
/data/.editor2
/data/.runtimes
/data/.thumbnails
/data/Prefab_Shooter
/obj
/bin
/.vs/CS_Check
/.thumbnails
/.vscode
/Properties
/data/configs
/data/plane.mesh
/data/plane.mesh.meta
*.upackage
*.upackage.meta
/data/core.ung
/data/csharp_components.prop
/data/csharp_components.prop.meta
/data/CS_Check.world
/data/CS_Check.world.meta
/data/editor.cache
/data/editor2.ung
/data/guids.db
/data/root_mount.umount
/data/scripts.ung
/data/shader_d3d11.cache
/data/unigine.cache
/data/shader_d3d11_debug.cache
*.bat
*.meta
*.mesh
/data/1200px-Heart_corazón.svg.png
